extends layout

block content
    h1 Register
    if errors != undefined && errors.length != 0
        each error in errors
            div(role='alert' id='a1') #{error.msg}
    if success_msg != ''
        div(role='alert' id='a2') #{success_msg}
    if error_msg != ''
        div(role='alert' id='a3') #{error_msg}
    if error != ''
        div(role='alert' id='a4') #{error}
    form(id='myformr' action='/users/register' method='post')
        table
            tr
                td Name:
                td
                    input(type='text' name='userid' placeholder='handle/uid' required)
            tr
                td Email:
                td
                    input(type='email' name='email' placeholder='aa@bb.cc' required)
            tr
                td
                td
                    input(type='submit' value='Go')
    p Have an account?&nbsp;
        a(href='/users/login') Login